*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
:root{

}

body{


    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100px minmax(550px  , auto) 50px;

    grid-template-areas: 
    "sidebar header"
    "sidebar article"
    "footer footer";


}
.sidebar{
    grid-area: sidebar;
    background-color: #2dd4bf;
}
.sidebar-top{
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.header{
    grid-area: header;
    background-color: #f0fdf4;

}

.article{
    grid-area: article;
    background-color: #d1d5db;

    padding:50px;
    
}
.content-header{
    display:flex;
    justify-content: space-between;
    padding:10px;
}
.content-title{
    font-size: 24px;
    font-weight: 600;
}
.card-container{
    height: 100%;

    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px ,250px));

    gap:20px;
}

.card{
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap:10px;

    width:250px;
    height:200px;
    
    border-radius: 24px;

}
.footer{
    grid-area: footer;
    background-color: #f0fdf4;
}

